@model List<ECommerce.Models.ViewModels.KeyPointVM.KeyPointViewViewModel>
@using ECommerce.Models.Model.KeyPoints
@{

    var type = (KeyPointType)ViewBag.Keypoint;
    var title = " لیست نقاط " + (type == KeyPointType.Positive ? "مثبت" : "منفی");
    ViewData["Title"] = title;
    int counter = 0;
    var productId = ViewBag.ProductId;

}

@section Breadcrumb
{
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>

            <li class="breadcrumb-item">لیست کالا</li>
        </ol>
    </nav>
}

<div class="card text-right">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1 class="h5">لیست @title</h1>
        <div class="action">
           
            <a type="button" class="btn btn-outline-success btn-sm" asp-area="Admin" asp-controller="KeyPoint" asp-action="Add" asp-route-productId="@productId" asp-route-type="@type">افزودن</a>
        </div>
    </div>
    <div class="card-body">
       
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-25">مشخصات</th>
                    <th scope="col" style="width: 8%">وضعیت</th>
                    <th scope="col">ایجاد کننده</th>
                    <th scope="col">آخرین تغییرات</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@(counter+=1)</th>
                        <td>
                            <strong>@item.Title</strong><br />
                            <span class="text-muted">شناسه :@item.Id </span>
                        </td>
                        <td class="align-middle">@item.State</td>
                        <td class="align-middle">
                            <span>@item.Creator</span><br />
                            <span class="text-muted">تاریخ :@item.CreatorDateTime</span>
                        </td>

                        <td class="align-middle">
                            @if (string.IsNullOrWhiteSpace(item.LastModifier))
                            {
                                <span>--</span>
                            }
                            else
                            {
                                <span>@item.LastModifier</span><br />
                                <span class="text-muted">تاریخ : @item.LastModifierDateTime</span>
                            }
                        </td>

                        <td class="align-middle">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="ddAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu  dropdown-menu-right text-right" aria-labelledby="ddAction">
                                    <a class="dropdown-item" asp-area="admin" asp-controller="keypoint" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                                    <a class="dropdown-item text-danger" asp-area="admin" asp-controller="keyPoint" asp-action="Delete" asp-route-id="@item.Id" asp-route-productId="@item.ProductId"  asp-route-type="@item.KeyPoint" >حذف</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>

        </table>
      
    </div>
</div>